<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap stuff -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
    crossorigin="anonymous"></script>

  <title>Asiv | Payment to {{paymentTo}}</title>
</head>

<body>
  <div class="d-flex justify-content-center pt-5 px-3">
    <div class="card text-center" style="max-width: 500px; width: 100%;">
      <h2 class="card-header">Payment to {{paymentTo}}</h2>

      <div class="card-body text-center">
        <p>Product: <code>{{productName}}</code></p>
        <p>Cost: <code>{{productCost}}</code> credits</p>
        <button id="confirm-btn" class="btn btn-primary">Confirm Payment</button>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("confirm-btn").addEventListener("click", async () => {
      const url = window.location.href;

      const res = await fetch(url, {
        method: "post"
      });

      if (!res.ok) {
        alert("Something went wrong, please try again later!");
      }

      alert("Payment success! You will now be redirected from this page.");
    })
  </script>
</body>

</html>
